@* ProductWarrantyMappings.cshtml *@
@model Nop.Plugin.Misc.ProductWarranty.Areas.Admin.Models.WarrantyMappingModel
@{
    Layout = "_AdminLayout";
    
    // var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    // var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Plugins.Misc.ProductWarranty.WarrantyMappings")
    </h1>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="cards-group">
            <div class="card card-default">
                <div class="card-header">
                    @T("Plugins.Misc.ProductWarranty.WarrantyMapping.AddNew")
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="ProductId" />
                        </div>
                        <div class="col-md-9">
                            <nop-select asp-for="ProductId" asp-items="Model.AvailableProducts" />
                            <span asp-validation-for="ProductId"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="WarrantyCategoryId" />
                        </div>
                        <div class="col-md-9">
                            <nop-select asp-for="WarrantyCategoryId" asp-items="Model.AvailableWarrantyCategories" />
                            <span asp-validation-for="WarrantyCategoryId"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="Notes" />
                        </div>
                        <div class="col-md-9">
                            <nop-textarea asp-for="Notes" />
                            <span asp-validation-for="Notes"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="DisplayOrder" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="DisplayOrder" />
                            <span asp-validation-for="DisplayOrder"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="IsActive" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="IsActive" />
                            <span asp-validation-for="IsActive"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9 offset-md-3">
                            <button type="button" id="addWarrantyMapping" class="btn btn-primary">
                                @T("Plugins.Misc.ProductWarranty.WarrantyMapping.AddButton")
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-default">
                <div class="card-header">
                    @T("Plugins.Misc.ProductWarranty.WarrantyMapping.List")
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="ProductId" />
                        </div>
                        <div class="col-md-9">
                            <nop-select asp-for="ProductId" asp-items="Model.AvailableProducts" />
                            <button type="button" id="search-warranty-mappings" class="btn btn-primary">
                                @T("Admin.Common.Search")
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="warranty-mappings-grid"></div>
                    
                    <script>
                        $(document).ready(function() {
                            $("#warranty-mappings-grid").kendoGrid({
                                dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Url.Action("WarrantyMappingList", "Warranty")",
                                        type: "POST",
                                        dataType: "json",
                                        data: function() {
                                            return {
                                                productId: $("#ProductId").val()
                                            };
                                        }
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize:{
									serverPaging: true,
									serverFiltering: true,
									serverSorting: true

								},
                                pageable: {
                                    refresh: true,
                                    pageSizes: {
										"10": 10,
										"20": 20,
										"50": 50,
										"100": 100
									},
									}
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [{
                                    field: "ProductName",
                                    title: "@T("Plugins.Misc.ProductWarranty.WarrantyMapping.Fields.Product")",
                                    width: 200
                                }, {
                                    field: "WarrantyCategoryName",
                                    title: "@T("Plugins.Misc.ProductWarranty.WarrantyMapping.Fields.WarrantyCategory")",
                                    width: 200
                                }, {
                                    field: "Notes",
                                    title: "@T("Plugins.Misc.ProductWarranty.WarrantyMapping.Fields.Notes")",
                                    width: 300
                                }, {
                                    field: "DisplayOrder",
                                    title: "@T("Plugins.Misc.ProductWarranty.WarrantyMapping.Fields.DisplayOrder")",
                                    width: 100
                                }, {
                                    field: "IsActive",
                                    title: "@T("Plugins.Misc.ProductWarranty.WarrantyMapping.Fields.IsActive")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if(IsActive) {# <i class="fas fa-check true-icon"></i> #} else {# <i class="fas fa-times false-icon"></i> #} #'
                                }, {
                                    field: "Id",
                                    title: "@T("Admin.Common.Edit")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<button type="button" class="btn btn-default edit-warranty-mapping" data-id="#=Id#"><i class="fas fa-pencil-alt"></i>@T("Admin.Common.Edit")</button>'
                                }, {
                                    field: "Id",
                                    title: "@T("Admin.Common.Delete")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<button type="button" class="btn btn-default delete-warranty-mapping" data-id="#=Id#"><i class="fas fa-trash-alt"></i>@T("Admin.Common.Delete")</button>'
                                }]
                            });
                            
                            // Search button
                            $('#search-warranty-mappings').click(function() {
                                var grid = $('#warranty-mappings-grid').data('kendoGrid');
                                grid.dataSource.read();
                            });
                            
                            // Add new mapping
                            $("#addWarrantyMapping").click(function() {
                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@Url.Action("AddProductWarrantyMapping", "Warranty")",
                                    data: {
                                        ProductId: $("#ProductId").val(),
                                        WarrantyCategoryId: $("#WarrantyCategoryId").val(),
                                        Notes: $("#Notes").val(),
                                        DisplayOrder: $("#DisplayOrder").val(),
                                        IsActive: $("#IsActive").is(':checked')
                                    },
                                    success: function(data) {
                                        if (data.Result) {
                                            //refresh grid
                                            $('#warranty-mappings-grid').data('kendoGrid').dataSource.read();
                                            
                                            //clear input
                                            $("#Notes").val('');
                                            $("#DisplayOrder").val(1);
                                        } else {
                                            //display errors
                                            display_nop_error(data);
                                        }
                                    },
                                    error: function(xhr, ajaxOptions, thrownError) {
                                        alert('Failed to add mapping.');
                                    }
                                });
                            });
                            
                            // Edit mapping
                            $(document).on('click', '.edit-warranty-mapping', function() {
                                var id = $(this).data('id');
                                var row = $(this).closest('tr');
                                var grid = $('#warranty-mappings-grid').data('kendoGrid');
                                var dataItem = grid.dataItem(row);
                                
                                $("#ProductId").val(dataItem.ProductId);
                                $("#WarrantyCategoryId").val(dataItem.WarrantyCategoryId);
                                $("#Notes").val(dataItem.Notes);
                                $("#DisplayOrder").val(dataItem.DisplayOrder);
                                $("#IsActive").prop('checked', dataItem.IsActive);
                                
                                // Change add button to update
                                $("#addWarrantyMapping").text('@T("Admin.Common.Update")');
                                $("#addWarrantyMapping").attr('data-id', id);
                                $("#addWarrantyMapping").removeClass('btn-primary').addClass('btn-success');
                                
                                // Change click handler to update
                                $("#addWarrantyMapping").off('click').on('click', function() {
                                    var mappingId = $(this).attr('data-id');
                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@Url.Action("UpdateProductWarrantyMapping", "Warranty")",
                                        data: {
                                            Id: mappingId,
                                            ProductId: $("#ProductId").val(),
                                            WarrantyCategoryId: $("#WarrantyCategoryId").val(),
                                            Notes: $("#Notes").val(),
                                            DisplayOrder: $("#DisplayOrder").val(),
                                            IsActive: $("#IsActive").is(':checked')
                                        },
                                        success: function(data) {
                                            if (data.Result) {
                                                //refresh grid
                                                $('#warranty-mappings-grid').data('kendoGrid').dataSource.read();
                                                
                                                //clear input
                                                $("#Notes").val('');
                                                $("#DisplayOrder").val(1);
                                                $("#IsActive").prop('checked', true);
                                                
                                                // Reset button
                                                $("#addWarrantyMapping").text('@T("Plugins.Misc.ProductWarranty.WarrantyMapping.AddButton")');
                                                $("#addWarrantyMapping").removeAttr('data-id');
                                                $("#addWarrantyMapping").removeClass('btn-success').addClass('btn-primary');
                                                
                                                // Restore click handler
                                                $("#addWarrantyMapping").off('click');
                                                $("#addWarrantyMapping").click(function() {
                                                    // Original click handler
                                                });
                                            } else {
                                                //display errors
                                                display_nop_error(data);
                                            }
                                        },
                                        error: function(xhr, ajaxOptions, thrownError) {
                                            alert('Failed to update mapping.');
                                        }
                                    });
                                });
                            });
                            
                            // Delete mapping
                            $(document).on('click', '.delete-warranty-mapping', function() {
                                if (confirm('@T("Admin.Common.AreYouSure")')) {
                                    var id = $(this).data('id');
                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@Url.Action("DeleteProductWarrantyMapping", "Warranty")",
                                        data: {
                                            id: id
                                        },
                                        success: function(data) {
                                            if (data.Result) {
                                                //refresh grid
                                                $('#warranty-mappings-grid').data('kendoGrid').dataSource.read();
                                            } else {
                                                //display errors
                                                display_nop_error(data);
                                            }
                                        },
                                        error: function(xhr, ajaxOptions, thrownError) {
                                            alert('Failed to delete mapping.');
                                        }
                                    });
                                }
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>